@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: linear-gradient(to right, #141e30,#243b55);
    color: rgb(196, 188, 174);
    font-family: 'Lato', sans-serif;
}

.main{
    display: block;
    padding: 1rem;
    margin: 1rem;
    height: 25%;
}

.image{
    height: 50%;
    position: absolute;
    right: 7.5%;
}

.heading{
    position: relative;
    display: block;
    width: 30%;
    left: 10%;
    margin-top: 10%;

}
.title{
    font-size: xx-large;
}

.sub-title{
    font-size: large;
}


.section {

    background-color: #41658ad8;
    padding: 2rem 1rem;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;

}

/* tech stack image */

.icons{
    font-size: 3rem;
    color: aliceblue;
    padding: 10px;
    margin: auto 0;
    
}



/* old code
hr {
    margin: 2rem 0rem;
}


body {
    font-family: 'Lato', sans-serif;


}

.cointainer {

    text-align: center;
    max-width: 1920px;
    margin-bottom: 1rem;
    margin-top: 1rem;



}

.cointainer-center {
    padding-left: 1rem;
    padding-right: 1rem;
}


.primary-links {

    background-color: #1D4ED8;
    border-radius: 0.7rem;
    color: white;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    margin: auto;
}

.secondary-links {

    color: black;
    border-radius: 0.7rem;
    padding: 0.5rem 0.5rem;
    border: solid 1px;
    border-color: #1D4ED8;
    text-decoration: none;
}

.remove-bullet {
    list-style-type: none;
}

.inline-style {

    display: inline;
    padding: 0rem 1rem;
    color: whitesmoke;
}

/* navigation */

/* .navigation {
    padding: 1rem 3rem;
    border-bottom-left-radius: 3rem;
    text-align: center;
    color: white;
    margin: auto;

}


.deve {
    color: whitesmoke;
    font-weight: bolder;
    font-size: xx-large;
    text-align: left;

}


.ul {

    text-align: right;
    font-size: x-large;
}


.links {
    color: whitesmoke;
    text-decoration: none;

}

.linkactive {
    font-weight: bolder;


}


.heading {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;

}

.photostyle {
    max-width: 60%;
    ;
    display: block;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;


}

.highlighter {

    color: #1D4ED8;
}


.section {

    background-color: #e4eaf0d8;
    padding: 2rem 1rem;
    text-align: center;



    .h3 {

        padding-bottom: 0.5rem;
        font-wetext-2xlight: bolder;
        text-align: center;

    }



    .footer {
        color: white;

        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-weight: bolder;
    } */


    